Options -MultiViews
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always unset X-Frame-Options
Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' blob: data: https://unpkg.com https://fonts.googleapis.com https://cdn.jsdelivr.net https://www.googletagmanager.com; frame-src 'self' blob: data: https://www.youtube.com https://youtube.com; worker-src 'self' blob: https://unpkg.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: https://unpkg.com https://www.googletagmanager.com https://cdn.jsdelivr.net https://www.youtube.com https://s.ytimg.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' data: https://fonts.gstatic.com; img-src 'self' data: https://leosenderovsky.com.ar https://www.googletagmanager.com https://www.google-analytics.com https://i.ytimg.com https://s.ytimg.com; connect-src 'self' https://api.web3forms.com https://www.google-analytics.com https://www.youtube.com; upgrade-insecure-requests;"

# Rutas limpias: redirige todo a index.html si no es un archivo o carpeta real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
