Options -MultiViews
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always unset X-Frame-Options
Header set Content-Security-Policy "upgrade-insecure-requests; default-src 'self' 'unsafe-inline' 'unsafe-eval' blob: data: https:; frame-src 'self' blob: data: https://*.youtube.com https://*.youtube-nocookie.com https://*.hcaptcha.com; worker-src 'self' blob: https:;"

# Rutas limpias: redirige todo a index.html si no es un archivo o carpeta real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]
